#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_install:
	$(MAKE) DATADIR=$$(pwd)/debian/objeck-lang/usr/share/objeck-lang MANDIR=$$(pwd)/debian/objeck-lang/usr/share/man/man1 BINDIR=$$(pwd)/debian/objeck-lang/usr/bin LIBDIR=$$(pwd)/debian/objeck-lang/usr/lib DOCDIR=$$(pwd)/debian/objeck-lang/usr/share/doc/objeck-lang install
