Source: objeck-lang
Section: unknown
Priority: optional
Maintainer: Ubuntu 14 LTS (amd64) <objeck@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/objeck-lang.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/objeck-lang.git;a=summary

Package: objeck-lang
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
