name: C/C++ CI

on:
  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@master

    - name: update-env
      run : sudo apt-get update; sudo apt-get upgrade

    - name: add-deps
      run: sudo apt-get install build-essential libopencv-dev libssl-dev unixodbc-dev libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev libsdl2-mixer-dev libreadline-dev libeigen3-dev
    
    - name: build-bootstrap
      working-directory: ./core/compiler
      run: ./update_version.sh

    - name: build-toolchain
      working-directory: ./core/release
      run: ./deploy_posix.sh x64

    - name: compile-tests
      working-directory: ./core/release/deploy/bin
      run: |
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/calc_life_10.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/closure_19.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/encrypt_7.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/first_class_18.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,query,json,csv -src ../../../../programs/deploy/fs_query_12.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/functions_5.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/hello_0.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/http_xml_regex_8.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/json_3.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/lambda_17.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/regex_4.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/rss_https_xml_15.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/serial_14.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/threads_6.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/visitor_20.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/loops_19.obs; \
        ./obc -lib cipher,net,odbc,rss,regex,misc,xml,json -src ../../../../programs/deploy/xml_2.obs

    - name: run-tests
      working-directory: ./core/release/deploy/bin
      run: |
        ./obr ../../../../programs/deploy/calc_life_10.obe; \
        ./obr ../../../../programs/deploy/closure_19.obe; \
        ./obr ../../../../programs/deploy/encrypt_7.obe; \
        ./obr ../../../../programs/deploy/first_class_18.obe; \
        ./obr ../../../../programs/deploy/fs_query_12.obe; \
        ./obr ../../../../programs/deploy/functions_5.obe; \
        ./obr ../../../../programs/deploy/hello_0.obe; \
        ./obr ../../../../programs/deploy/json_3.obe; \
        ./obr ../../../../programs/deploy/lambda_17.obe; \
        ./obr ../../../../programs/deploy/regex_4.obe; \
        ./obr ../../../../programs/deploy/rss_https_xml_15.obe https://www.techmeme.com/feed.xml out.txt; \
        ./obr ../../../../programs/deploy/serial_14.obe; \
        ./obr ../../../../programs/deploy/threads_6.obe; \
        ./obr ../../../../programs/deploy/visitor_20.obe; \
        ./obr ../../../../programs/deploy/loops_19.obe; \
        ./obr ../../../../programs/deploy/xml_2.obe

    - name: doc-apis
      working-directory: ./core/release/deploy/bin
      run: |
          mkdir ../html
          ./obc -src ../../../lib/code_doc/doc_html.obs,../../../lib/code_doc/doc_parser.obs -lib cipher,json,xml,misc,net -dest code_doc.obe; \
          ./obr code_doc.obe ../../../lib/code_doc/templates 0.0.1 ../../../compiler/lib_src/lang.obs ../../../compiler/lib_src/regex.obs ../../../compiler/lib_src/json.obs ../../../compiler/lib_src/xml.obs ../../../compiler/lib_src/cipher.obs ../../../compiler/lib_src/odbc.obs ../../../compiler/lib_src/csv.obs ../../../compiler/lib_src/query.obs ../../../compiler/lib_src/sdl2.obs ../../../compiler/lib_src/sdl_game.obs ../../../compiler/lib_src/gen_collect.obs ../../../compiler/lib_src/net.obs ../../../compiler/lib_src/rss.obs ../../../compiler/lib_src/misc.obs
